<div class="container">
  <div class="row">
    <div class="col col-12">
      <!-- begin pagination -->
      <nav class="pagination">
        <div class="pagination__list">

          {% if paginator.previous_page %}

            <!-- Torno ad una pagina diversa dalla home page -->
            {% if paginator.previous_page == 1 %}
              <a class="previous-link prev-enabled" href="/">
                <i class="ion ion-ios-arrow-back arrow-enabled"></i>
                 Prev
              </a>
            <!-- Torno alla home page -->
            {% else %}
              <a class="previous-link prev-enabled" href="/page/{{ paginator.previous_page }}/">
                <i class="ion ion-ios-arrow-back arrow-enabled"></i>
                  Prev
              </a>
            {% endif %}

          <!-- Non ho pagine precedenti -->
          {% else %}
            <span class="prev-disabled"><i class="ion ion-ios-arrow-back"></i> Prev</span>
          {% endif %}


          {% if paginator.next_page %}
            <!-- Ho pagine seguenti -->
            <a class="next-link next-enabled" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/">
              Next
              <i class="ion ion-ios-arrow-forward arrow-enabled"></i>
            </a>
          <!-- Non ho pagine seguenti -->
          {% else %}
            <span class="next-disabled">Next <i class="ion ion-ios-arrow-forward"></i></span>
          {% endif %}

        </div>
      </nav>
      <!-- end pagination -->
    </div>
  </div>
</div>
