---
# Front matter comment to ensure Jekyll properly reads the file
---
@use "sass:color";
@use "variables";
@use "font";
@use "basic";
@use "layout";
@use "classes";

html{
  background: color.scale(variables.$dark, $lightness: 70%);
  padding: 0 calc(38% - 22em)
}

body{
  box-shadow: 0 0 .3em color.scale(variables.$dark, $lightness: 65%);
}


body > header, body > footer {
  background: color.scale(variables.$dark, $lightness: 5%);
  color: variables.$light;
}

body > header {
  font-size: calc(1rem + 0.2vw);
}

body > footer {
  font-size: calc(0.7rem + 0.2vw);
}

@media (min-width: 32em) {
  body > header, body > article, body > footer {
    padding: 1.75em calc(22% - 6em);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background: color.scale(variables.$dark, $lightness: -4%);
  }
  body > header, body > footer {
    background: variables.$dark;
  }
  body, body > header, body > footer {
    box-shadow: 0 0 0 1px color.scale(variables.$dark, $lightness: 8%);
  }
}

  @media (prefers-color-scheme: dark) {
    body > header {
      box-shadow:
      0px 0px 0px 1px color.scale(variables.$dark, $lightness: 8%)
      0px 1px 0px 1px variables.$link-color !important;
    }
  }
