---
# Front matter comment to ensure Jekyll properly reads the file
---
@use "variables";
@use "font";
@use "basic";
@use "layout";
@use "classes";

@media (min-width: 40em) {
  body > header,
  body > article,
  body > footer {
    padding: 1.75em calc(40% - 17em);
  }
}

body > header {
  background: variables.$dark;
  color: variables.$light;
  border-bottom: 1px solid reduce(14);
}

body > footer {
  box-shadow: 0 0 .6em rgba(variables.$dark, 0.04) inset;
  border-top: 1px solid reduce(14);
  opacity: .9;
}

body > header, body > footer {
  font-size: calc(1rem + 0.2vw);
}
