<!DOCTYPE html>
<html lang="it">

{% include head.html %}

<body>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Abilitazione a Google Analytics se configurato in _config.yml -->
  {% if site.google-analytics-enabled == true %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    <!-- begin wrapper-page -->
    <div class="wrapper-page">
      {{ content }}
    </div>
    <!-- end wrapper-page -->
  </main>
  <!-- end content -->

  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>

  {% include footer.html %}

  {% include javascripts.html %}

</body>

</html>
