---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col col-12">
			<h1 class="page__title wow fadeInUp allineamento-titolo">{{ page.titleNoHeader | escape }}</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12">
			<!-- begin page -->
			<article class="page wow fadeInUp" data-wow-delay=".2s">

				<div class="page__content">

          {{content}}

          <!-- {% include carousel.html height="70" unit="%" duration="5" %} -->
          {% include carousel.html height="70" unit="%" %}

				</div>
			</article>
			<!-- end page -->
		</div>
	</div>
</div>
